install.packages("devtools")
install.packages("arrow")
install.packages("SNFtool")
install.packages("survival")
install.packages("gtsummary")
install.packages("broom")
devtools::install_github("Shamir-Lab/NEMO/NEMO")
devtools::install_github("DXCODEE/MOSD")
devtools::install_github("mpierrejean/pintmf")
install.packages("BiocManager")
BiocManager::install("clusterProfiler")
BiocManager::install("limma")
