fastapi
uvicorn
pydantic 
pandas
numpy
scipy
scikit-learn
seaborn
snfpy
umap-learn
lifelines
gseapy
python-multipart
openpyxl
pyarrow

pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118 （不过本项目似乎没有使用到torch...）



R包：
install.packages("devtools")
install.packages("arrow")
install.packages("SNFtool")
install.packages("survival")
install.packages("gtsummary")
install.packages("broom")
devtools::install_github("Shamir-Lab/NEMO/NEMO")
devtools::install_github("DXCODEE/MOSD")
install.packages("BiocManager")
BiocManager::install("clusterProfiler")
BiocManager::install("limma")
